<!doctype html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/main.css') }}">
<meta name='viewport' content='width=device-width, initial-scale=1'>

<title>Topin foorumi - {% block title %}{% endblock %}</title>
<a href="/"><h1>Topi's forum</h1></a>
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<li><a href="/logout">Kirjaudu ulos</a></li>
{% else %}
<li><a href="/login">Kirjaudu sisään</a></li>
<li><a href="/register">Rekisteröidy</a></li>
{% endif %}
<hr>
{% block content %}{% endblock %}
<hr>

{% if session["rights"] in ["admin", "moderator"]  %}
<li><a href="/controlusers">Hallitse käyttäjäoikeuksia</a></li>
{% endif %}