{% extends "layout.html" %}
{% block title %} Etusivu{% endblock %}
{% block content %}
<form action="/login" method="post" onsubmit="return check(this)">
Käyttäjänimi:
<input type="text" name="username">
<br>
Salasana:
<input type="password" name="password">
<input type="submit" value="Kirjaudu sisään">
</form>
{% endblock %}
<script>
    function check(form) {
        if (form.username.value.length == 0) {
            alert("Käyttäjänimi puuttuu!");
            return false;
        }
        if (form.password.value.length == 0) {
            alert("Älä unohda salasanaa!");
            return false;
        }
        return true;
    }
    </script>
    