{% extends "layout.html" %}
{% block title %} {{title[0]}} {% endblock %}
{% block content %}
{% if messages %}
{% for message in messages %}
<i>Viesti:</i> {{ message[0] }}
<p>
<i>Lähettäjä:</i> {{ message[1] }}
<p>
<i>Aika:</i> {{ message[2].strftime("%Y-%m-%d %H:%M:%S") }}
<hr>
{% endfor %}
{% endif %}
{% if session.username %}
<a href="/{{forum_id}}/{{topic_id}}/newmessage">Kirjoita viesti</a><br>
{% else %}
Kirjaudu sisään vastataksesi ketjuun
{% endif %}
<br>
<a href="/">Etusivulle</a>
{% endblock %}